body {
  background-color: var(--grey-card-color);
  background-image: url(./assets/background_pattern.svg);
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

:root {
  --blue-card-color: #2EA8E6;
  --red-card-color: #D91667;
  --grey-card-color: #B3B3B3;
  --grey-text-color: #666666;
  --yellow-text-color: #FFFF66;
  --white-text-color: #FFFFFF;
}

@font-face {
  font-family: 'Exo2.0-Thin';
  src: local('Exo2.0-Thin'), url(./assets/fonts/Exo2.0-Thin.otf) format('opentype');
}

@font-face {
  font-family: 'trebuchetms';
  src: local('trebuchetms'), url(./assets/fonts/trebuchetms.ttf) format('opentype');
}
