.wrapper {
    width: 320px;
    height: 509px;
}

.card {
    padding: 4px;
    border-radius: 15px;
    background: var(--blue-card-color);
    color: black;
    height: 85%;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 14%, 16% 0);
    cursor: pointer;
}

.empty {
    filter: grayscale(8%) blur(1.2px);
    cursor: inherit;
}

.msg_for_empty {
    color: #FFFF66;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 15px;
    height: 100%;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 14%, 16% 0);
    position: relative;
}

.content > img {
    bottom: -50px;
    position: relative;
}

.main {
    line-height: 1px;
}

.weight {
    height: 80px;
    width: 80px;
    font-size: 22px;
    color: white;
    border-radius: 50%;
    background: var(--blue-card-color);
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
}

.weight_num {
    font-size: 42px;
    margin: 0;
}

.weight_unit {
    margin: 0;
}

.buy {
    color: var(--blue-card-color);
    border-bottom: 2px dashed var(--blue-card-color);
    cursor: pointer;
}

.buy::after {
    content: '.';
    border-bottom: 2px solid black;
    color: var(--blue-card-color);
}