.wrapper {
    width: 320px;
    height: 509px;
}

.card {
    padding: 4px;
    border-radius: 15px;
    background: var(--blue-card-color);
    color: black;
    height: 480px;
    width: 320px;
    clip-path: polygon(16% 0, 100% 0, 100% 100%, 0 100%, 0 11%);
    cursor: pointer;
    font-family: 'trebuchetms';
}

.overlay {
    cursor: default;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--white-text-color);
    opacity: 0.6;
    z-index: 1001;
}

.msg_for_empty {
    color: var(--yellow-text-color) !important;
}

.content {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 15px;
    height: 100%;
    clip-path: polygon(16% 0, 100% 0, 100% 100%, 0 100%, 0 11%);
    position: relative;
    overflow: hidden;
}

.main_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 19px;
}

.top_tip, .additional_info {
    color: var(--grey-text-color);
    margin: 0;
    margin-bottom: 5px;
}

.top_tip {
    line-height: 18.58px;
}

.additional_info {
    display: flex;
    flex-direction: column;
    line-height: 16px;
    align-items: flex-start;
}

.content > img {
    bottom: -55px;
    position: relative;
    z-index: -10;
    scale: 1.2;
    position: relative;
    z-index: -10;
}

.main {
    line-height: 1px;
    margin-top: 19px;
    margin-left: 51px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.weight {
    color: #FFFFFF;
    border-radius: 50%;
    background: var(--blue-card-color);
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 16px;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    font-family: 'trebuchetms';
    font-weight: 400;
    line-height: 22px;
    height: 80px;
    width: 80px;
}

.weight_num {
    font-size: 42px;
    margin: 0;
}

.weight_unit {
    margin: 0;
    font-size: 21px;
}

.buy {
    color: var(--blue-card-color);
    border-bottom: 1px dashed var(--blue-card-color);
    cursor: pointer;
}

.buy::after {
    content: '.';
    border-bottom: 1px solid black;
    color: var(--blue-card-color);
}

.info {
    color: var(--grey-card-color);
    font-size: 13px;
    line-height: 15.09px;
    color: #FFFFFF;
    font-family: 'trebuchetms';
    margin-top: 14px;
}

h2, h4 {
    margin: 0;
}
h2 {
    font-size: 48px;
    line-height: 55.73px;
}

h4 {
    font-size: 24px;
    line-height: 27.87px;
}